<h1>Privacy policy</h1>

<h2>Overview</h2>
We do not collect, hold, use or disclose personal information to carry out functions.
Our app is stateless and discards all data after each request.
logging info on errors and usage rates is maintain to aid in debugging but not disclosed.
aggregated usage statistics are kept by google as part of the google cloud services platform.

<h2>Data breach notifications</h2>
We do not keep any personal data and we will update the Readme file should any breach be found.
https://github.com/markbrockettrobson/python_dice

<h2>How to make a complaint</h2>
create an issue on https://github.com/markbrockettrobson/python_dice or directly contact me
